<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{title: producto.nombre}) %> 

<body>
    <%- include('./partials/header') %>
<main class="detail">
   <section class="detail-stn">

    <article class="detail-art">

        <div class="detail-product">

            <div class="cnt-principal">
                <a href=""><img class="img-principal" src="/images/zapas/<%= producto.imagenUno %> " alt=""></a>
            </div>
            <div class="cnt-secundarios">
                <input type="radio" name="position" class="carrousel" checked>
                <input type="radio" name="position" class="carrousel">
                <input type="radio" name="position" class="carrousel">
                <input type="radio" name="position" class="carrousel">
            </div>
<!--
                <div class="todas-cnt">
                    <div class="img-todas">
                        <a href=""><img src="/images/zapas/AD_GW4113-1.jpg" alt=""></a>
                    </div>
                    <div class="img-todas">
                        <a href=""><img src="/images/zapas/AD_GW4113-2.jpg" alt=""></a>
                    </div>
                    <div class="img-todas">
                        <a href=""><img src="/images/zapas/AD_GW4113-3.jpg" alt=""></a>
                    </div>
                </div>
-->
            </div>
            <div class="info-cnt">
                <h2 class="price t-a-center"><%= producto.marca  %> <%= producto.nombre%> </h2>
                <p class="price t-a-center">$<%= producto.precio %> </p>
                <p class="info t-a-center"><% if (producto.descuento > 0) { %>
                <%- descuento(producto.precio,producto.descuento)%> 
                (<%=producto.descuento%>% de descuento)   </p>
                <% } %>
                 
                <p class="info t-a-center"> 6 cuotas de <%- cuotas(producto.precio) %> sin interes  </p>
                <select class="button-info" name="" id="">
                  <% producto.talle.forEach(talle => { %>
                   
                  
                    <option value=""><%= talle  %> </option>
                  <% }) %>
                </select>
                <button class="button-info">agregar al carrito</button>
            </div>
        </div>
    </article>
   </section>
   <section class="detail-stn">
    <article class="detail-art top-shadow">
        <div class="more-cnt">

            <div class="detail-desc">
                <h2 class="t-a-center title">Descripcion </h3>
                <p class="t-a-center">

                  <%= producto.descripcion %>
                    </p>
            </div>


            <div class="detail-table">
                <h2 class="t-a-center title">especificaciones</h2>
                <ul class="list-cnt">
                    <li class="tabla"> <span>Género:</span>   <p class="gris"><%= producto.genero %> </p></li>
                    <li class="tabla"> <span>Talles:</span>  <p class="gris"><%= producto.talle %> </p></li>
                    <li class="tabla"> <span>Marca:</span>  <p class="gris"><%= producto.marca %>  </p></li>
                    <li class="tabla"> <span>Origen:</span>  <p class="gris"><%= producto.origen %> </p></li>
                    <li class="tabla"> <span>Color:</span>  <p class="gris"><%= producto.color  %>  </p> </li>
                    <li class="tabla"> <span>Ajuste:</span>  <p class="gris"><%= producto.ajuste %> </p></li>
                </ul>
               
            </div>



        </div>
    </article>
   </section>
   <section class="rela-stn">
    <article class="rela-art">
    <h2 class="title t-a-center">Relacionados <%= producto.marca  %>  </h2>

    <% aleatorios(nuevoArray(producto.marca),4).forEach(aleatorio => { %>
<div class="product">

   
  
    <div class="img-product">
      <a href="">
        <img class="img-prdt img-uno" src="/images/zapas/<%= aleatorio.imagenUno  %> " alt="">
        <img class="img-prdt img-dos" src="/images/zapas/<%= aleatorio.imagenDos  %>" alt="">
  
          <p class="precio">$ <%= aleatorio.precio %> </p>
        <img class="img-logo" src="/images/logos/adidas.png" alt="">
      </a>
      </div>
      
  <div class="info-cnt">
    <p class="nombre-prdt t-a-center"><%= aleatorio.marca %> <%= aleatorio.nombre  %> </p>
    <a href="/products/detail/<%= aleatorio.id %> "><button class="button">ver mas</button></a>
  </div>
    </div><% }) %>
    
    </article>
   </section>
</main>
    <%- include('./partials/footer') %>  
    <%- include('./partials/scripts') %> 
</body>
</html>
