<!DOCTYPE html>

<html>
<%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header')  %> 
    <main class="index">
      
<section class="section-cat">
  <article class="cont-cat">
    <div class="cat-publico">
      <a class="font" href="">
        <p class="cat-titulo t-a-center">Hombres</p>      
        <img class="img-publico" src="/images/zapas/zapa-h.jpg" alt="">
      
      </a>

    </div>
    <div class="cat-publico">
      <a class="font" href="">
        <p class="cat-titulo t-a-center">Mujeres</p> 
        <img class="img-publico"  src="/images/zapas/zapa-m.jpg" alt="">
        
      </a>
    </div>
    <div class="cat-publico">
      <a class="font" href="">
        <p class="cat-titulo t-a-center">Niños</p> 
        <img class="img-publico"  src="/images/zapas/zapa-n.webp" alt="">
      </a>
    </div>
  </article>
</section>

<section class="best">
  <article class="best-cnt">
    <h3 class="t-a-center title">Mejores Ofertas</h3>
    <% mayor.forEach(producto => { %>

    <div class="product">
      <div class="img-product">
        <a href="/products/detail/<%= producto.id  %> ">
          <img class="img-prdt img-uno" src="/images/zapas/<%= producto.imagenUno%> " alt="">
          <img class="img-prdt img-dos" src="/images/zapas/<%= producto.imagenDos%>" alt="">

            <p class="precio">$ <%= producto.precio %> </p>
          <img class="img-logo" src="/images/logos/adidas.png" alt="">
        </a>
        </div>

      <div class="info-cnt">
        <p class="nombre-prdt t-a-center"><%= producto.marca %> <%= producto.nombre %> </p>
        <button class="button">ver mas</button>
      </div>
      
</div>
<% }) %>
  </article>
</section>


<section class="marcas">
  <article class="marcas-cnt glider-contain">
    <div class="marcas logos" id="logos">
      <% marcas.forEach(marca => { %>
        
          
            <form action="/search" class="form-marca">
            <input type="text" value="<%= marca.marca%>" name="busqueda" id="" class="logo-busqueda">
            <div class="marca">
              <button type="submit" class="boton-marca"><img src="/images/logos/<%= marca.nombre  %> " class="img-marca" src="" alt=""></button>
            </div>
            </form>

          



      <% }) %>
     </div>
 
  </article>
</section>

<section class="marcas">
<div class="glider-contain">
  <div class="gliderIndex"  style="display:flex;flex-direction:row;margin: auto;">
    <div><img src="/images/banners/banner-1.webp" alt=""></div>
    <div><img src="/images/banners/banner-2.jpg" alt=""></div>
    <div><img src="/images/banners/banner-3.jpg" alt=""></div>
    <div><img src="/images/banners/banner-4.webp" alt=""></div>
  </div>

  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>
</div>  
</section>



<section class="products">
  <article class="products-cnt">
    <h3 class="t-a-center title">Nuestros productos</h3>

  <% aleatorios(productos,8).forEach(producto=> { %>
<div class="product">

      <div class="img-product">
        <a href="/products/detail/<%= producto.id %>">
          <img class="img-prdt img-uno" src="/images/zapas/<%= producto.imagenUno %> " alt="">
          <img class="img-prdt img-dos" src="/images/zapas/<%= producto.imagenDos %> " alt="">

            <p class="precio">$<%= producto.precio %> </p>
          <img class="img-logo" src="/images/logos/adidas.png" alt="">
        </a>
        </div>

      <div class="info-cnt">
        <p class="nombre-prdt t-a-center"><%= producto.marca %> <%= producto.nombre  %> </p>
        <a href="/products/detail/<%= producto.id %>"><button class="button">ver mas</button></a>
      </div>
     
</div>
 <% }) %>
<button class="button-todo t-a-center"><a href="/products/all">ver todo</a> </button>
  </article>
</section>
    </main>
    <%- include('./partials/footer')  %>
    <%- include('./partials/scripts') %> 

  </body>
</html>
