<!DOCTYPE html>

<html>
<%- include('./partials/head')  %> 
  <body>
    <%- include('./partials/header')  %> 
    <main class="index">
      
<section class="section-cat">
  <article class="cont-cat">
    <div class="cat-publico">
      <a class="font" href="">
        <p class="cat-titulo t-a-center">Hombres</p>      
        <img class="img-publico" src="/images/zapas/zapa-h.jpg" alt="">
      
      </a>

    </div>
    <div class="cat-publico">
      <a class="font" href="">
        <p class="cat-titulo t-a-center">Mujeres</p> 
        <img class="img-publico"  src="/images/zapas/zapa-m.jpg" alt="">
        
      </a>
    </div>
    <div class="cat-publico">
      <a class="font" href="">
        <p class="cat-titulo t-a-center">Niños</p> 
        <img class="img-publico"  src="/images/zapas/zapa-n.webp" alt="">
      </a>
    </div>
  </article>
</section>

<section class="best">
  <article class="best-cnt">
    <h3 class="t-a-center title">Mejores Ofertas</h3>
    <% mayor.forEach(producto => { %>

    <div class="product">
      <div class="img-product">
        <a href="/products/detail/<%= producto.id  %> ">
          <img class="img-prdt img-uno" src="/images/zapas/<%= producto.imagenUno%> " alt="">
          <img class="img-prdt img-dos" src="/images/zapas/<%= producto.imagenDos%>" alt="">

            <p class="precio">$ <%= producto.precio %> </p>
          <img class="img-logo" src="/images/logos/adidas.png" alt="">
        </a>
        </div>

      <div class="info-cnt">
        <p class="nombre-prdt t-a-center"><%= producto.marca %> <%= producto.nombre %> </p>
        <button class="button">ver mas</button>
      </div>
      
</div>
<% }) %>
  </article>
</section>


<section class="marcas">
  <article class="marcas-cnt">
   <div class="marcas">
     <div class="marca">
       <a href="">
        <img src="/images/logos/adidas.png" class="img-marca" src="" alt=""></a>
     </div>
     <div class="marca">
       <a href=""><img src="/images/logos/converse.png" class="img-marca" src="" alt=""></a>
     </div>
     <div class="marca">
       <a href=""><img src="/images/logos/topper.png" class="img-marca" src="" alt=""></a>
     </div>
    </div>
    <div class="input-cnt t-a-center">
      <input type="radio" name="position" class="carrousel" checked>
      <input type="radio" name="position" class="carrousel">
      <input type="radio" name="position" class="carrousel">
      <input type="radio" name="position" class="carrousel">
  </div>
  </article>
</section>

<section class="products">
  <article class="products-cnt">
    <h3 class="t-a-center title">Nuestros productos</h3>

  <% aleatorios(productos,8).forEach(producto=> { %>
<div class="product">

      <div class="img-product">
        <a href="/products/detail/<%= producto.id %>">
          <img class="img-prdt img-uno" src="/images/zapas/<%= producto.imagenUno %> " alt="">
          <img class="img-prdt img-dos" src="/images/zapas/<%= producto.imagenDos %> " alt="">

            <p class="precio">$<%= producto.precio %> </p>
          <img class="img-logo" src="/images/logos/adidas.png" alt="">
        </a>
        </div>

      <div class="info-cnt">
        <p class="nombre-prdt t-a-center"><%= producto.marca %> <%= producto.nombre  %> </p>
        <a href="/products/detail/<%= producto.id %>"><button class="button">ver mas</button></a>
      </div>
     
</div>
 <% }) %>
<button class="button-todo t-a-center"><a href="/products/all">ver todo</a> </button>
  </article>
</section>
    </main>
    <%- include('./partials/footer')  %>
  </body>
</html>
