<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
<main class="login">
    <h2 class="t-a-center title">Inicia Sesión</h2>
    <form class="formulario" action="" method="POST">
<div class="form-cnt">
            <label for="email"></i></label>
            <input class="input" type="text" name="email" id="email" placeholder="Usuario">
    
</div>
<div class="form-cnt">
            <label for="pass"></label>
            <input class="input" type="password" name="pass" id="pass" placeholder="Contraseña">
</div>  
<span class="text-danger small"><%= locals.errors && errors.email ? errors.email.msg : null %> </span>
<div class="boton-log">
    <button type="submit">Entrar</button>
</div>
    </form>
</main>
    <%- include('./partials/footer') %>  
    <%- include('./partials/scripts') %> 
</body>
</html>

