<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
<main class="register">
  <h2 class="t-a-center title">Agregar un producto</h2>

  <form class="formulario" method="POST" enctype="multipart/form-data" action="/products/create">


<div class="form-cnt">
          <input value="<%= locals.old && old.marca ? old.marca : null  %>" placeholder="Marca" class="input <%= locals.errors && errors.marca ? 'is-invalid' : locals.old && old.marca ? 'is-valid' : null %>" type="text" name="marca" id="marca">
          <span class="text-danger small"><%= locals.errors && errors.marca ? errors.marca.msg : null  %>  </span>
</div>

<div class="form-cnt">
  <input value="<%= locals.old && old.nombre ? old.nombre : null %>" placeholder="Modelo" class="input" type="text" name="nombre" id="nombre">
  <span class="text-danger small"><%= locals.errors && errors.nombre ? errors.nombre.msg : null  %>  </span>
</div>

<div class="form-cnt">
  <input value="<%= locals.old && old.precio ? old.precio : null %>" placeholder="Precio" class="input" type="number" name="precio" id="precio">
  <span class="text-danger small"><%= locals.errors && errors.precio ? errors.precio.msg : null  %>  </span>
</div>

<div class="form-cnt">
  <input value="<%= locals.old && old.talle ? old.talle : null  %>" placeholder="Talle" class="input" type="text" name="talle" id="talle">
  <span class="text-danger small"><%= locals.errors && errors.talle ? errors.talle.msg : null  %>  </span>
</div>

<div class="form-cnt">
  <select class="input" name="descuento" id="descuento">
    <option value="" selected hidden>Descuento</option>
    <option value="0" <%= locals.old && old.descuento === "0"  ? 'selected' : null %>>0</option>
    <option value="5" <%= locals.old && old.descuento === "5"  ? 'selected' : null %>>5</option>
    <option value="10" <%= locals.old && old.descuento === "10"  ? 'selected' : null %>>10</option>
    <option value="15" <%= locals.old && old.descuento === "15"  ? 'selected' : null %>>20</option>
    <option value="20" <%= locals.old && old.descuento === "20"  ? 'selected' : null %>>15</option>
    <option value="25" <%= locals.old && old.descuento === "25"  ? 'selected' : null %>>25</option>
    <option value="30" <%= locals.old && old.descuento === "30"  ? 'selected' : null %>>30</option>
    <option value="50" <%= locals.old && old.descuento === "50"  ? 'selected' : null %>>50</option>
  </select>
  <span class="text-danger small"><%= locals.errors && errors.descuento ? errors.descuento.msg : null  %>  </span>
</div>



</div>
<div class="form-cnt">

  <select class="input" name="color" id="color">
      <option value="" selected hidden>Color</option>
    <% colores.forEach(color => { %>
      <option value="<%- color.color%>"<%= locals.old && old.color === color.color  ? 'selected' : null %>><%- color.color  %> </option>
    <% }) %>
  </select>
  <span class="text-danger small"><%= locals.errors && errors.color ? errors.color.msg : null  %>  </span>


</div>
<div class="form-cnt">
  <label for="genero">genero</i></label>
  <select class="input" name="genero" id="genero">
    <option value="" selected hidden>Genero</option>
    <option value="hombre" <%= locals.old && old.genero === "hombre"  ? 'selected' : null %>>hombre</option>
    <option value="mujer" <%= locals.old && old.genero === "mujer"  ? 'selected' : null %>>mujer</option>
    <option value="ninios" <%= locals.old && old.genero === "ninios"  ? 'selected' : null %>>ninios</option>
  </select>
  <span class="text-danger small"><%= locals.errors && errors.genero ? errors.genero.msg : null  %>  </span>
</div>
<div class="form-cnt">
  <label for="ajuste">ajuste</i></label>
  <select class="input" name="ajuste" id="ajuste">
    <option value="" selected hidden>Ajuste</option>
    <option value="velcro" <%= locals.old && old.ajuste === "velcro"  ? 'selected' : null %>>velcro</option>
    <option value="cordones" <%= locals.old && old.ajuste === "cordones"  ? 'selected' : null %>>cordones</option>
  </select>
  <span class="text-danger small"><%= locals.errors && errors.ajuste ? errors.ajuste.msg : null  %>  </span>

</div>
  <div class="form-cnt">
    <label for="origen">origen</i></label>
    <select class="input" name="origen" id="origen">
      <option value="" selected hidden>Origen</option>
      <option value="nacional" <%= locals.old && old.origen === "nacional"  ? 'selected' : null %>>nacional</option>
      <option value="importado" <%= locals.old && old.origen === "importado"  ? 'selected' : null %>>importado</option>
    </select>
    <span class="text-danger small"><%= locals.errors && errors.origen ? errors.origen.msg : null  %>  </span>
  </div>
    <div class="form-cnt">
      <label for="descripcion">descripcion</label>
      <textarea name="descripcion" id="descripcion" cols="30" rows="5"><%= locals.old && old.descripcion ? old.descripcion : null  %></textarea>
      <span class="text-danger small"><%= locals.errors && errors.descripcion ? errors.descripcion.msg : null  %>  </span>
    </div>
    
<div class="form-cnt">
  <label for="imagenes">Imagen 1</label>
  <input type="file" name="imagenes" id="imagenes" multiple accept="image/*">

</div>


<div class="boton-log t-a-center">
  <button type="submit">Agregar</button>
</div>
  </form>
    
</main>
<%- include('./partials/footer') %>  
</body>
</html>