<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
<main class="register">
    <h2 class="t-a-center title">Crea Tu Cuenta</h2>
    <form class="formulario" action="" method="POST">
<div class="form-cnt">
            <label for="nombre"></i></label>
            <input class="input" type="text" name="nombre" id="nombre" placeholder="Nombre">
            <span class="text-danger small"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %> </span>
</div>
<div class="form-cnt">
    <label for="apellido"></i></label>
    <input class="input" type="text" name="apellido" id="apellido" placeholder="Apellido">

</div>
<div class="form-cnt">
            <label for="email"></i></label>
            <input class="input" type="email" name="email" id="email" placeholder="Email">
    
</div>
<div class="form-cnt">
    <label for="remail"></i></label>
    <input class="input" type="email" name="remail" id="remail" placeholder="Repetir Email">

</div>
<div class="form-cnt">
            <label for="pass"></label>
            <input class="input" type="password" name="pass" id="pass" placeholder="Contraseña">
</div>
<div class="form-cnt">
    <label for="passtwo"></label>
    <input class="input" type="password" name="passtwo" id="passtwo" placeholder="Repetir Contraseña">
</div>
<div class="boton-log t-a-center">
    <button type="submit">Entrar</button>
</div>
    </form>
</main>
    <%- include('./partials/footer') %>  
    <%- include('./partials/scripts') %> 
</body>
</html>